<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <connectionStrings>
    <!-- Replace with your actual SQL Server instance/credentials -->
    <add name="AgentSyncDb"
		 connectionString="Data Source=10.2.0.4,1433;Database=SUBAZOHOBooks;User ID=vssadmin;Password=V55@dm!n;Connect Timeout=30;Encrypt=True;Trust Server Certificate=True;Application Intent=ReadWrite;Multi Subnet Failover=False;Command Timeout=30"
		 providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>

</configuration>
